.layer{
    padding: 12px 20px;
    margin: 8px 24px;
    box-sizing: border-box;
    border-radius: 10px  ;
    justify-content: space-evenly;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 5px 4px;
    border: 2px solid #6e1a5d ;
    outline: none;
    width: 320px;
    background: #ffffff;
    color:black;
}